.navbar {
   width: 100%;
   background-color: rgba(0, 0, 0, 0.671);
}

.btn-danger{
   background:rgb(229, 9, 20);
   border: none;
}

.Logo{
   transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
   text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
     calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
   outline-offset: .1em;
   transition: 0.3s;
 }
 .Logo:hover{
   --_p: 0%;
   --_i: 1;
 }